*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

.main-menu {
	position: relative;
	&__section {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 3rem;
		width: 100vw;
		height: 100vh;
		background-color: #537d5d;
		opacity: 1;
	}

	&__home {
		opacity: 1;
		z-index: 1;
	}

	&__button {
		padding: 2rem;
		width: 200px;
		background-color: #b0db9c;
		font-size: 2rem;
		border: 2px solid transparent;
		border-radius: 1rem;
		text-transform: uppercase;
		transition: background-color 0.3s;

		&:hover {
			background-color: #73946b;
			border: 2px solid black;
		}
	}

	&--hidden {
		opacity: 0;
		display: none;
	}
}

.options {
	&__control {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	&__slider {
		accent-color: #d7da19;
	}
}

.game {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	max-width: 800px;
	background-color: #b0db9c;
	z-index: -1;
	&__gameplay-area{
		padding: 0.5rem;
		font-size: 1.5rem;	
	}

	&__menu-button {
		position: absolute;
		margin: 0.5rem;
		right: 0;
	}

	&__flowers {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	&__flower {
		padding: 1rem;
		background-color: #537d5d;
		&:nth-child(1),&:nth-child(4),&:nth-child(5) {
			background-color: #73946b;
		}
		&:hover {
			background-color: #0f7728;
		}
	}

	&__upgrades {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	&__upgrade {
		padding: 1rem;
		&:hover {
			background-color: #0f7728;
		}
	}

	&__modal {
		display: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		background-color: #537d5d;
		border-radius: 20px;
		font-size: 1.5rem;
		opacity: 0;
		&--show {
			display: flex;
			opacity: 1;
		}

		&-title {
			padding: 1rem;
			text-transform: uppercase;	
		}

		&-text {
			line-height: 2rem;
			padding: 1rem;
		}

		&-ok {
			margin: 1rem;
			padding: 1rem;
		}
	}
}

@media(min-width: 576px) {
	body {
		font-size: 1.2rem;
	}
}

@media(min-width: 768px) {
	body {
		font-size: 1.5rem;
	}
}
