*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

.main-menu {
	position: relative;
	&__section {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 3rem;
		width: 100vw;
		height: 100vh;
		background-color: #537d5d;
		opacity: 1;
	}

	&__home {
		opacity: 1;
		z-index: 1;
	}

	&__button {
		padding: 2rem;
		width: 200px;
		background-color: #b0db9c;
		font-size: 2rem;
		border: 2px solid transparent;
		border-radius: 1rem;
		text-transform: uppercase;
		transition: background-color 0.3s;

		&:hover {
			background-color: #73946b;
			border: 2px solid black;
		}
	}

	&--hidden {
		opacity: 0;
		display: none;
	}
}

.options {
	&__control {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	&__slider {
		accent-color: #d7da19;
	}
}

.game {
	&__menu-button {
		position: absolute;
				margin: 0.5rem;
		right: 0;
	}
	&__flowers {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: auto;
		
	}
	&__flower {
		padding: 1rem;
		background-color: #537d5d;
		&:nth-child(even) {
			background-color: #73946b;
		}
	}
}
